{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block head %}
    <style>
        table,th,td{
            border:1px solid black;
            margin: 20px
        }
        input{
            margin-top: 5px;
        }
    </style>
{% endblock head %}
{% block body %}
    <center>
        {% if tasks | length < 1 %}
        <h4>No task added. Create one below!</h4>
        {% else %}
        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            
                {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td>{{ task.completed }}</td>
                    <td>
                        <a href="/delete/{{ task.id }}">Delete</a>
                        <br>
                        <a href="/update/{{ task.id }}">Update</a>
                    </td>
                </tr>
                {% endfor %}
            
        </table>
        {% endif %}
        <form action="/home/" method="post">
            <input type="text" name="content" id="content" placeholder="Task description">
            <input type="text" name="completed" id="completed" placeholder="Status" >
            <br>
            <input type="submit" value="Add">
        </form>
    </center>
{% endblock body %}