{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block head %}
<style>
    input{
        margin-top: 5px;
    }
</style>
{% endblock head %}
{% block body %}
    <center>
        <h2>Login</h2>
        <form action="/login/" method="post">
            <input type="text" name="username" id="username" placeholder="Username">
            <br>
            <input type="password" name="password" id="password" placeholder="Password">
            <br>
            <input type="submit" value="Login">
        </form>
</center>
{% endblock body %}
